body {
	/*background-image: radial-gradient(#ba5370, #f4e2d8);*/
	/*background-image: linear-gradient(to right, #43cea2, #185a9d);*/
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	font-family: 'PT Mono', monospace;
	font-size: 1.25em;
	color: #505050;
}
.wrapper {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 20px;
	margin: 5% 10vw;
}
.color1, .color2, .color1a, .color2a, .color3a {
	width: 100px;
	height: 100px;
	margin: 10px 25px;
	background: #f1f1f1;
	border: 1px solid #f1f1f1;
	box-shadow: 10px 10px 8px #888; 
}
.buttons { margin-top: 20px; }
.btn {
	border-radius: 10px;
	border: none;
	font-weight: 700;
	background-color: #e7e7e7;
	padding: 10px 20px;
	margin: 10px;
	box-shadow: 5px 5px 8px #888;
}
.btn:hover, .btn:focus, .btn:active, .active  {
	background-color: #e7e7e7;
	box-shadow: inset 2px 2px 8px #888;
}
.hidden { display: none; }